# Virtual environment
langproj/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# FAISS index
*.faiss
*.pkl

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
